#corpo {
  display: flex;
  justify-content: center;
}

header {
  display: none;
}
.link-voltar {
  text-decoration: none;
  font: var(--link);
  color: var(--color-brand);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2.12rem;
}
h1 {
  font: var(--title);
  color: var(--content-primary);

  margin-top: 1rem;
}
#item {
  border: 0.15rem solid var(--border-primary);
  width: 20.37rem;
  height: 2.75rem;
  border-radius: 0.75rem;
  font: var(--paragraph);
  color: var(--content-primary);
  padding-left: 1rem;
}
input::placeholder {
  color: var(--content-tertiary);
  opacity: 0.6;
}
#item:focus,
#item:active {
  border-color: var(--color-brand);
  outline: none; /* Remove a borda azul padrão do navegador */
}
#button-1 {
  background-color: var(--color-brand);
  border: none;
  border-radius: 0.75rem;
  font: var(--paragraph);
  color: var(--always-white);
  width: 21.8rem;
  height: 2.75rem;
}

#button-1:hover {
  background-color: var(--color-brand-hover);
}
.aligment {
  display: grid;

  margin-top: 2.75rem;
  gap: 1rem;
}
#list {
  margin-top: 2.5rem;
}
.item-list {
  background-color: var(--background-secondary);
  padding: 0.75rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
}
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.custom-checkbox input {
  display: none; /* Esconde o checkbox padrão */
}
.checkmark {
  width: 1rem;
  height: 1rem;
  border: 2px solid #b0b0b0; /* Cor do estado default */
  border-radius: 6px; /* Borda arredondada */
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}

/* Estado Hover */
.custom-checkbox:hover .checkmark {
  border-color: var(--border-hover);
}

/* Estado Selecionado */
.custom-checkbox input:checked + .checkmark {
  background-color: #ca3884; /* Cor rosa ao ser marcado */
  border-color: #ca3884;
}

.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 45%;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
.description {
  font: var(--paragraph);
  color: var(--content-secondary);
  margin-left: 0.75rem;
}
.button-trash {
  border: none;
  background-color: transparent;
}

@media (min-width: 80rem) {
  .desktop-only {
    display: flex;
    justify-content: center;
    margin-top: 1.56rem;
    width: 100%;
  }
  .link-voltar {
    margin-top: 3.87rem;
  }

  #item {
    width: 28.18rem;
  }
  .aligment {
    display: flex;
  }
  #button-1 {
    width: 10rem;
    height: 2.75rem;
  }
}
